<div class="sidebox" id="userbox">
	<ul>
		<li>로그인하이소.</li>
	</ul>
</div>

<div>
	<ul class="sidemenu" id="<%= controller.action_name %>">
		<li id="notice"><a href="/forum/notice">공지사항</a></li>
		<li id="ruby"><a href="/forum/ruby">루비</a></li>
		<li id="python"><a href="/forum/python">파이썬</a></li>
		<li id="groovy"><a href="/forum/groovy">그루비</a></li>
		<li id="erlang"><a href="/forum/erlang">얼랭</a></li>
	</ul>
</div>