<div>
<ul id='menu'>
	<!--li><%#= link_to '관리자 홈', admin_path, :class => menu_current('home') %></li-->
	<li><%= link_to '그룹 관리', admin_groups_path, :class => menu_current('groups') %></li>
	<li><%= link_to '게시판 관리', admin_boards_path, :class => menu_current('boards') %></li>
	<!--li><%= link_to '포스트 관리', admin_posts_path, :class => menu_current('posts') %></li-->
	<li><%= link_to '사용자 관리', admin_users_path, :class => menu_current('users') %></li>
</ul>
</div>
