<% if logged_in? %>
<div>
	<ul class="sidemenu" id="<%= controller.action_name %>">
		<li id="users_show"><%= link_to '내 프로파일', user_path(current_user) %></li>
		<li id="home_hompy"><a href="/users/profile">내가 작성한 글들</a></li>
		<li id="users_friendship" class="current"><%= link_to '지인관리', user_friendships_path(current_user) %></li>
		<li id="home_hompy"><a href="/users/profile">개인 정보 변경</a></li>
	</ul>
</div>
<% end %>