<% if logged_in? %>
<div>
	<ul class="sideNav additional" id="<%= controller.action_name %>">
		<li id="users_show" class="current"><%= link_to '내 프로파일', user_path(current_user) %></li>
		<li id="users_friendship"><%= link_to '지인 관리', user_friendships_path(current_user) %></li>
	</ul>
</div>
<% end %>